.statusFaceContainer {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.data {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
}

.text {
  text-align: left;
  color: #fff;
}
